@{
    ViewBag.Title = "About";
}
<h2>SRS</h2>
<p>SRS makes life easier for both customers and store owners by facilitating shopping in one hand and in the other one, optimizing store organization which will lead to its financial growth.</p>

<p><h3>System architecture for Beacons-based services in retail </h3></p>

<div class="image">
    <img class=" img-responsive" src="~/Images/Photo7.jpg" height="500" width="500" />
</div>

<p>
    <h3>This is how it works:</h3>
    <br>1.	Wi-Fi Module located at each Shopping mall entrance.
    <br>2.	Smartphones in the range of beacons is itself indicating that the smartphones are nearby.
    <br>3.	Connect smartphone with Smart Retail System's Wi-Fi.
    <br>4.	The smartphone then sends the ID number attached to the signal to the cloud server
    <br>5.	The server responds with the action linked to the beacon ID. It could be a notification introducing a new store available in the System with items on special, combo deals or a feedback form.
    <br>6.	Smartphones and other Wi-Fi enabled devices can receive these advertising messages, connect to the beacon and process received information using dedicated application. Navigate through the website and manage cart.
    <br>7.	Special counter facility for payment of items in the cart.
    <br>8.	Retail store owner can then track everything on his side.
</p>