@{
    ViewBag.Title = "Contact";
}
    <div class="item active">
        <img src="~/Images/Thierry.jpg" alt="Photo1" width="300" height="300">
    </div>
    <h4> Thierry Mbuku </h4>
<address>
    189 Frikkie De Beer<br />
    Menlyn Place, Menlyn, Pretoria<br />
    <abbr title="Phone">Contact number:</abbr>
    +27790424764
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mbukuthierry@gmail.com</a><br />
</address>